.custom-dropdown .ant-dropdown-menu {
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    gap: 16px
}
.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    
}

/* .category {
    display: flex;
    align-items: center;
    min-width: 100px;
} */

.subcategories {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 2px;
    position: relative; 
}

