.custom-dropdown .ant-dropdown-menu {
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 100vw;
    top: 20px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Đảm bảo các mục căn lên trên */
    align-items: flex-start; /* Căn chỉnh các mục con bên trái */
    min-height: 50px; /* Đảm bảo chiều cao tối thiểu để các mục thẳng hàng */
}

.category {
    display: flex;
    align-items: center; /* Căn giữa các mục trong menu */
    min-width: 100px;
}

.subcategories {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
    padding-left: 20px;
}
